

// Body Styles 
body {
    padding-bottom: 70px !important;
    margin: 0 auto !important;
}

.header {

    .logo{
        padding-top: 10px !important;
        
       
    }

    .logo-link {
        padding-top: 15px !important;
        padding-right: 10px !important;
       

           
    
      
    }
    
}

.header-2 {
    margin-top: 5px !important;
    padding: 20px !important;
 

   
}

.help {
    text-align: center !important;

    
}

.help-links {
    padding: 1% 5% !important;
}

.prime-benefits{
   margin-top: 3% !important;
    margin-left: 5% !important;
   font-weight: 600 !important;
   
}

.prime-list {
    margin-left: 5% !important;

}

.feedback-survey {
    padding:0 5% !important;
}

.feedback {
    padding: 0 5% !important;
    font-weight: 600 !important;
}

.cancel-footer {
    padding: 0 5% !important;
    font-size: 12px !important;
    color: darkgrey !important;
}

.footer-bottom {
    padding: 0 5% !important;
    font-size: 12px !important;
    color: rgb(97, 77, 77) !important;
}

.note-bottom {
    padding: 0 5% !important;
    text-align: center !important;
    margin-top: 2% !important;
    font-size: 12px !important;
}